/*---------------------------PRIMEIRA VISÃO---------------------------*/ 

/*                     RESETAR ESTILO                  */ 
 
* {
    padding: 0;
    margin: 0;
}


/*                  IMAGEM DE BACKGROUND                */ 
#banner {
    background: linear-gradient(0deg, #145460 10%, transparent 100%), url("../images/banner2.jpg");    
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

/*                   IMAGEM DE LOGO                    */ 
.logo {
    width: 100px;
    position: absolute;
    margin-top: 20px;
    left: 5%;
}

/*                   TEXTOS DO BANNER                 */ 
.banner-text {
    text-align: center;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 130px;
    background: -webkit-linear-gradient(black, #145460);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-text h2 {
    font-size: 45px;
    font-style: italic;
    background: -webkit-linear-gradient(rgb(146, 161, 147), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*                    BOTAO DO BANNER                 */ 

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    
}

/*              EFEITO DOS BOTÕES DO BANNER            */ 

.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(right, #134a53, #062024);
    -webkit-text-fill-color: transparent;    
    z-index: -1;
    transition: 0.5s

}

.banner-btn a:hover span {
    width: 100%;

}

.banner-btn a:hover {
    color: black;
    border-color: black;
}

/*                       NAVBAR                     */ 


#sideNav {
    width: 150px;
    height: 100vh;
    position: fixed;
    right: -250px; /* [inicializa oculto] */
    top: 200px;
    z-index: 2;
    transition: 0.5s;
}

nav ul li  {
    list-style: none;
    margin: 50px 20px;
} 

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

nav ul li a:hover {
    color: #2892a557;
}

/*                   BOTAO NAVBAR                  */ 

#menuBtn {
    width: 50px;
    height: 50px;
    background: #2660698f;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 50px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}

#menuBtn:active {
    background: -webkit-linear-gradient(right, #134a53, #062024);
    -webkit-text-fill-color: transparent;  
    transition: 0.5s
}

/*                  RESPONSIVIDADE                  */ 

@media screen and (max-width: 770px) 
{
    .banner-text h1 {
        font-size: 85px; 
    }

    .banner-btn a {
        display: block;
        margin: 20px auto;
        padding-bottom: 10px;
    }

    #menuBtn {
        right: 3px;      
    }
    
}

@media screen and (max-width: 360px)
{
    .banner-text h1 {
        font-size: 70px; 
    }

    
}

@media screen and (max-width: 280px)
{
    .banner-text h1 {
        font-size: 60px; 
    }

}

/*--------------------------FIM PRIMEIRA VISÃO-------------------------*/ 

/*---------------------------- SEGUNDA VISÃO---------------------------*/ 

/*            PARTE DE BAIXO            */ 

#second {
    width: 100%;
    padding: -10px 0;
    background: linear-gradient(#145460, #0b3138);

}

/*                  POSIÇÃO DA IMAGEM2                  */ 
.shadow-image {
    text-align: center;
    padding-bottom: 20px; 
}

/*                 TAMANHO DA IMAGEM2                  */ 
.shadow-image img {
    position: relative;
    width: 50px;
}


/*               DEFINIR ESTILO DA BOX                */ 
.second-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

/*                     *ANGEL IMAGE*                    */ 

/*TAMANHO DA IMG NA BOX */
.angel-img {
    flex-basis: 50%;
    margin: auto;
    height: 100%;
    position: relative;
}

/*CONFIG DA IMG*/
.angel-img img {
    width: 60%;
    border-radius: 10px;
    object-fit: cover;
    box-sizing: border-box;  
}

.overlay {
    position: absolute;
    left: 50.08%;
    top: 49.3%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#1454602f, #08222749);
    border-radius:10px;
}

.overlay {
    visibility: hidden;
}

.angel-img:hover .overlay{
    visibility: visible;
    animation: fade 1s;
}


@keyframes fade {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/*          LEGENDA         */
.inside-text {
    display: flex;
    width: 130px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color:rgba(243, 217, 217, 0.349);
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    margin-left: 15px;
    text-decoration: none;
}




/*                      TEXTOS                       */ 

.title {
    flex-basis: 50%;
}

.title h1{
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 100px;
    font-size: 40px;
    color: teal;
}

.history-text p {
    padding: 0 20px; 
    color: rgb(176, 192, 177);
    text-align: justify;
    letter-spacing: 0.5px;
 }
 
 .history-text span {
     color: #C4B998;
     padding: 0 20px;
     float: left; 
     font-size: 3.0em;
     text-decoration: underline;
 }

/*                    RESPONSIVIDADE                     */ 
@media screen and (max-width: 770px) 
{
    .title {
        flex-basis: 100%;
    }

    .title h1 {
        text-align: center;
    }

    .shadow-image img {
        width: 40px;
        padding-top: 30px;
    }

    .angel-img img {
        width: 80%;
    }

    .angel-img {
        flex-basis: 100%;
    }

    .shadow-image {
        padding-bottom: 10px; 
    }

    #sideNav {
        width: 100px;
    }
}


@media screen and (max-width: 480px) {
    #sideNav {
        width: 70px;
        font-size: 12px;
    }
}

/*---------------------------FIM SEGUNDA VISÃO--------------------------*/ 

/*---------------------------- TERCEIRA VISÃO---------------------------*/ 

#third {
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(#0b3138, #082227);
}

.third-box {
    width: 75%;
    display: flex;
    margin-left: 125px;
}

/*                  POSIÇÃO DA IMAGEM2                  */ 
.champ-image {
    text-align: center;
    padding-bottom: 20px; 
}

/*                 TAMANHO DA IMAGEM2                   */ 
.champ-image img {
    position: relative;
    width: 50px;
}

/*                        TEXTOS                        */ 
.title2 {
    margin-top: 10px;
    flex-basis: 50%;
}

.title2 h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100px;
    font-size: 40px;
    color: rgb(1, 102, 102);
}

/*                  IMAGEM DOS CHAMPS                   */ 

.single-champion {
    text-align: center;
    border-radius: 7px;
    margin-top: 50px;
    position: relative;
    width: 14%;

}

.single-champion img {
        width: 60%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
        box-sizing: border-box; 

}


.single-champion img:hover {
    transform-style: preserve-3d;
    transform: scale(1.1);
    transition: all ease 0.1s;
    width:135px;
}

/*                    RESPONSIVIDADE                     */ 
@media screen and (max-width: 770px) 
{
    

    .third-box {
        width: 80%;
        display: flex;
        margin:auto;
    }

    .single-champion img:hover {
        transform-style: preserve-3d;
        transform: scale(1.1);
        transition: all ease 0.1s;
        width: 50px;
    }
    
}




@media screen and (max-width: 360px) 
{
    

    .third-box {
        width: 80%;
        display: flex;
        margin:auto;
    }

    .single-champion img:hover {
        transform-style: preserve-3d;
        transform: scale(1.1);
        transition: all ease 0.1s;
        width: 50px;
    }

    .title2 h1 {
        font-size: 35px;
    
    }
}


/*---------------------------FIM TERCEIRA VISÃO--------------------------*/ 
